<html>
  <head>
    <!--Load the AJAX API-->
    <!-- script type="text/javascript" src="https://www.google.com/jsapi"></scrip -->
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.jcarousel.min.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.localize.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>	
<!--
<script type="text/javascript" src="{{ url_for('static', filename='js/jsapi.js') }}"></script>	
-->
<script type="text/javascript">
  var gData =''
 function getDataList(){
		var url = "/htldata";
		$.ajax({
			type: 'GET',
			url: url,
			dataType: "text",
			async: true,
			success: function(responseText, textStatus, jqXHR) {
				console.log("============"+ responseText)
                drawChart(responseText)
			},
			error: function(responseText, textStatus, jqXHR) {
				console.warn(url, responseText.status, responseText.statusText);
			}
		});
        return gData
}

google.setOnLoadCallback(getDataList);
function drawChart(gData) {
  
  console.log("6666666666 "+gData)
  var container = document.getElementById('example7.1');
  var chart = new google.visualization.Timeline(container);
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn({ type: 'string', id: 'Room' });
  dataTable.addColumn({ type: 'string', id: 'Name' });
  dataTable.addColumn({ type: 'date', id: 'Start' });
  dataTable.addColumn({ type: 'date', id: 'End' });
  
 /*     var arr = [['NS','OK',[14,0,0],[14,10,0]],['NS','CRITICAL',[14,10,0],[14,2,0]]]
      var arr1 = []
             for(var item in arr){
              var itemList = arr[item]
              tmpArr = []
              for(var i =0; i < itemList.length;i++){
               var el = itemList[i];
               
               debugger
               if(typeof(el)!="string"){
                
               jdate = new Date(0,0,0,el[0],el[1],el[2])
               tmpArr[i] = jdate
               }else{
                tmpArr [i] = el
                
               }
              }
              arr[ctr] = tmpArr
             }
             */
 
 //var arr = [['NS','OK',[14,0,0],[14,15,0]],['NS','CRITICAL',[14,15,0],[14,20,0]]]
 var arr = eval(gData)
 console.log(arr)
             for(var item in arr){
              var itemList = arr[item];
              for(var i =0; i < itemList.length;i++){
               var el = itemList[i];
               if(typeof(el)!="string"){
               itemList[i] = new Date(0,0,0,el[0],el[1],el[2]);
console.log(el);

               }
              }
             }
console.log(arr);


dataTable.addRows(arr);
  
  /*
  dataTable.addRows([
    [ 'Nova Service', 'OK', new Date(0,0,0,14,0,0), new Date(0,0,0,14,10,0)],
    [ 'Nova Service', 'CRITICAL',    new Date(0,0,0,14,10,0), new Date(0,0,0,14,15,0)],
    [ 'Nova Service', 'OK',    new Date(0,0,0,14,15,0), new Date(0,0,0,14,30,0)],
    [ 'Glance Service', 'OK',    new Date(0,0,0,14,0,0), new Date(0,0,0,14,30,0)],
    [ 'Neutron Service', 'OK', new Date(0,0,0,14,0,0), new Date(0,0,0,14,22,0)],
    [ 'Neutron Service', 'CRITICAL',    new Date(0,0,0,14,22,0), new Date(0,0,0,14,30,0)]]);
    */

  /*
  var colors = [];
  var colorMap = {
      OK: 'green',
      WARNING: 'orange',
      //CRITICAL: 'red'
  }
  for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
      colors.push(colorMap[dataTable.getValue(i, 1)]);
  }
  */
  //console.log(dataTable.getValue(0,1))
  if (dataTable.getValue(0,1) == 'OK'){
	var colors = ['green','red']}
  else{
	var colors = ['red','green']}

console.log(colors)

  

  var options = {
    timeline: { showRowLabels: true,groupByRowLabel:true,
	rowLabelStyle: {fontName: 'Arial', fontSize: 12, color: '#603913' },
	barLabelStyle: { fontName: 'Arial', fontSize: 10 }},
    tooltip: {trigger:'focus'},
    //colors: ['orange','green','red'],
    backgroundColor: '#ffd',
    avoidOverlappingGridLines: false,
    colors: colors,
	width: 900
  };

  chart.draw(dataTable, options);
}

</script>
</head>
<div align="center"><div align="center"><h3>Service Status TimeLine</h3></div>
<div id="example7.1" style="width: 900px; height: 500px;"></div>
</div>
</html>
  

