<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.localize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jsapi.js') }}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline','bar']}]}"></script>

<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}">
    </script>
-->
<script type="text/javascrip">
google.load("visualization", "1.1", {packages:["bar"]});
</script>
    <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">


</head>

<body class="sw_default">
    <header>
        <div id="banner">
<!--
            <div id="cisco-logo">
                <a href="http://www.cisco.com/" target="_blank">
                    Cisco.com
                    Worldwide Home
                </a>
            </div>
-->
<!--
            <nav id="menu">
                <ul id="menu-items">
                    <li><a class="page">MegaMenu 1</a></li>
                    <li> <a class="page">MegaMenu 2</a></li>
                    <li><a class="page">MegaMenu 3 </a></li>
                    <li><a class="page">MegaMenu 4</a></li>
                    <li><a class="page">MegaMenu 5</a></li>
                </ul>
            </nav>
-->
            <div id="moduleName">HA Infra Test Result</div> 
        </div>
    </header>
    <div id="viewTitle">
  <!--      <div id="menuTitle">HA Infra Test Result</div> -->
        <div id="breadCrumb"> <span id="selectedCrumb" style="font-weight:bold"></span><span id="selectedCrumb1" style="font-weight:bold"> Test Result</span></div>
    </div>
    <div style="width: 100%" class="content">
        <div class="menuNavi">
            <div id="menuNaviContent">
                <ul id="menuList">
                    <li class="menuItem selected" data-item="/ntimeline"><a>Nagios</a></li>
                    <li class="menuItem" data-item="/htimeline"><a>Health API</a></li>
                    <li class="menuItem" data-item="/anstimeline"><a>Ansible</a></li>
                </ul>
            </div>
        </div>
        <div class="dashletNavi">
            <div id="dashletContent">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript">
    </script>
</body>

</html>
