.menuNavi {
    float: left;
    width: 19%;
}

.dashletNavi {
    float: right;
    width: 81%;
}

.content {
    padding-top: 10px;
}

#menuList {
    list-style-type: none;
    width: 60%
}

#menuList li {
    height: 33px;
    vertical-align: middle;
    text-align: start;
    cursor: pointer;
    padding-top: 9px;
    padding-left: 21px;
    /*     color: #2970a6; */
}

#menuList li.selected {
    /*     color: #fff; */
    
    background-color: #428bca;
    border-radius: 5px
}

#menuList li.selected a {
    color: #fff;
}

#dashletContent .dashletTitle {
    /* min-height: 50px; */
    
    background-color: #EFF3F6;
    /* line-height: 42px; */
    /* vertical-align: baseline; */
    
    padding: 5px 0px 7px 12px;
    /* font-weight: bold; */
    
    font-size: 14px;
    font-family: Tahoma;
    color: #415b74;
}

#dashletContent .dashletContent {
    min-height: 100px;
}

#dashletContent .dashlet {
    border: 2px solid #EFF3F6;
    width: 80%;
    margin-bottom: 10px;
}

.sw_default {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/cisco_sprite.png") repeat-x scroll 0 -1725px transparent;
    line-height: 1;
}

header {
    height: 75px !important;
    padding: 0px;
    display: block;
    min-height: 50px;
    box-sizing: border-box;
    /*background-color: #3c6aa1;*/
    /*background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #4d80af), color-stop(100%, #2b5593));*/
    /*background: -webkit-linear-gradient(top, #4d80af 0, #2b5593 100%);*/
    /*background: -moz-linear-gradient(top, #4d80af 0, #2b5593 100%);*/
    /*background: -o-linear-gradient(top, #4d80af 0, #2b5593 100%);*/
    /*background: linear-gradient(top, #4d80af 0, #2b5593 100%);*/
    /*background: -ms-linear-gradient(top, #4d80af 0, #2b5593 100%)*/
}

#banner {
    display: block;
    width: 1038px;
    position: relative;
    height: 75px;
    z-index: 1000;
    left: calc(18% - 7px);
    max-width: 1090px;
}

#cisco-logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: inherit;
    width: 85px;
    float: left;
}

#cisco-logo a {
    display: block;
    position: relative;
    height: 200%;
    width: 200%;
    top: -25px;
    left: -44px;
    overflow: hidden;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    font-size: 0;
}

#cisco-logo a:before {
    content: url("//www.static-cisco.com/web/fw/i/responsive-sprite-v1.png");
    display: inline-block;
    margin: -48px 0 0 -11px;
}

.sw_default a:link,
.sw_default a:visited,
.sw_default a {
    color: #2970a6;
}

#viewTitle {
    margin: 10px 0px 10px 19%;
}

#menuTitle {
    font-weight: bold;
    min-height: 30px;
    font-size: larger;
}

#breadCrumb {
    font-size: 13px;
}

#moduleName {
    float: left;
    color: #F8F8F8;
    margin-top: 29px;
    margin-left: 12px;
    font-weight: bold;
    font-size: 23px;
}

#banner #menu {
    display: table;
    position: relative;
    top: 0;
    width: 83%;
    left: 2%;
    padding-top: 7px;
}

#banner #menu ul {
    display: table-row;
    margin: 0;
}

ol,
ul {
    list-style: none outside none;
}

.sw_default ul li {
    font-size: 12px;
    color: #525252;
    font-weight: normal;
    margin: 0 0 5px 0;
    line-height: 1.6em;
}

#banner #menu li {
    display: table-cell;
    height: 75px;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

#banner #menu li a {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.38);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.38);
    font-family: Arial, Helvetica, sans-serif;
}
